@model DdConstruction.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-header">
    <div class="content">
        Welcome to Double D Construction!
    </div>
</div>

<hr />

<product-catalog></product-catalog>