@model DdConstruction.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h3>Home Page for initial introduction to the site. Cool content can go on the top followed by the product catalog.</h3>

<h4>Fancy fonts, graphics, pictures, etc.</h4>

<hr />

<product-catalog></product-catalog>