@model DdConstruction.Models.PaymentSuccessViewModel

@{
    ViewData["Title"] = "Order Complete";
}

<clear-cart></clear-cart>

<br /><br />

<h2>Thank you for your Order! Your OrderId is @Model.OrderId</h2>