body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.main-header {
    height:200px;
    width:100%;
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 1.0)), url("../images/carpenter.jpg")
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

input.ng-invalid {
    border: 1px solid red;
}

.navbar-fixed-top {
    min-height: 70px;
}

.navbar-collapse {
    margin-top:30px;
}

.navbar-collapse ul {
    font-size:23px;
}